# ----------------------------------------------
# PYSPA configuration options

# Relative gap tolerance for optimality:
optimality tolerance: 0.0105
# Relative gap tolerance for "ok" solution:
ok solution tolerance: 0.10
# Solver time limit (seconds):
time limit: 3600
# ----------------------------------------------