# ----------------------------------------------
# Pysperf configuration options
# These options only apply to new runs, as options are cached.

# Relative gap tolerance for optimality:
optimality tolerance: 0.0105
# Relative gap tolerance for "ok" solution:
ok solution tolerance: 0.10
# Solver time limit (seconds):
time_limit: 10
# Processor limit:
processes: 1
# Memory limit (GB):
memory: 16
# Time limit percentage padding for job execution:
job time limit percent buffer: 5
# Time limit minimum padding for job execution (seconds):
job time limit minimum buffer: 10
# ----------------------------------------------