# ----------------------------------------------
# Pysperf configuration options
# These options only apply to new runs, as options are cached.

# Relative gap tolerance for optimality:
optcr: 0.01
# Solver time limit (seconds):
time_limit: 300
# Processor limit:
processes: 1
# Memory limit (GB):
memory: 16
# Time limit percentage padding for job execution:
job time limit percent buffer: 5
# Time limit minimum padding for job execution (seconds):
job time limit minimum buffer: 10
# ----------------------------------------------
# Use for analysis package only:

# Tolerance on the relative gap tolerance:
#   Sometimes solvers are slightly off due to rounding, etc.)
#   This value is added to optcr when considering whether
#   the solution satisfies the tolerance in the analysis package.
optcr tolerance: 0.005
# Relative gap tolerance for "ok" solution:
ok solution tolerance: 0.10

# ----------------------------------------------
